ion-content ion-toolbar {
  --background: translucent;
}

ion-slides, ion-slide{
	width: 100%;
	height: 100%;
}

.noticia-more {
	font-size:25px !important;
	position: absolute;
	right: -10px;
	top: -18px;
}